<div id="info_leftdiv_inkorg">
    <div>
        <p style="padding-top: 10px;padding-left: 10px;padding-bottom: 10px;font-size: 13px;margin-bottom: 20px;">Avsändare&nbsp;&nbsp;&nbsp;<text style="font-weight: bold;">System Andersson</text></p>
    </div>
    <div style="background-color:#FFF;width: initial;height:650px;overflow-y:auto;">
        <p style="color: #000;font-size: 13px;padding-top: 2px;padding-left: 2px;">
            Test placeholder text som ingen kommer att läsa ändå.
            Test placeholder text som ingen kommer att läsa ändå.
        </p>
    </div>
</div>
