<div id="info_tidbank">
    <p style="font-size: 13px;font-weight: bold;margin-bottom: 0px;padding-top: 10px;padding-left: 3px;">Flextid</p>
    <div id="flextid_box"><text style="font-size: 13px;font-weight: bold;">48.21:16:00</text></div>
    <br />
    <p style="font-size: 13px;font-weight: bold;margin-bottom: 0px;padding-top: 0px;padding-left: 3px;">Komptid</p>
    <div id="komptid_box"><text style="font-size: 13px;font-weight: bold;">448:30:00</text></div>
</div>