<div class="pull-right" style="height:600px; border: solid; border-radius: 5px; border-width:1px; width: 100%;">
    <table class="table" style="border: solid; border-color: gray;">
        <thead>
            <tr style="border: solid; border-color: gray; border-width: 1px;">
                <th>Kund</th>
                <th>Kundnummer</th>
                <th>Benämning</th>
                <th>Artikelnummer</th>
            </tr>
        </thead>
        <tbody class="tablebgblue">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>


    <table class="table" style="border: solid; border-color: gray;">
        <thead>
            <tr style="border: solid; border-color: gray; border-width: 1px;">
                <th>Antal</th>
                <th>Orderdatum</th>
                <th>Leveransdatum</th>
                <th>Kundorderno</th>
                <th>Vår referens</th>
                <th>vår ref Meddelande</th>
            </tr>
        </thead>
        <tbody class="tablebgblue">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button></button></td>
            </tr>
        </tbody>
    </table>

    <table class="table" style="border: solid; border-color: gray;">
        <thead>
            <tr style="border: solid; border-color: gray; border-width: 1px;">
                <th>Er referens</th>
                <th>Er referens telefon</th>
            </tr>
        </thead>
        <tbody class="tablebgblue">
            <tr>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<script src="~/scripts/jquery-1.9.1.min.js"></script>
<script src="~/Content/js/jsfile.js"></script>