<div class="pull-right" style="height:600px; border: solid; border-radius: 5px; border-width:1px; width: 100%;">
</div>

<script src="~/scripts/jquery-1.9.1.min.js"></script>
<script src="~/Content/js/jsfile.js"></script>