<div class="pull-right" style="height:600px; border: solid; border-radius: 5px; border-width:1px; width: 100%;">
    <table class="table" style="border: solid; border-color: gray;">
        <thead>
            <tr style="border: solid; border-color: gray; border-width: 1px;">
                <th>Sök Artikelnummer</th>
                <th>Sök Benämning</th>
            </tr>
        </thead>
        <thead class="tablebgblue">
            <tr>
                <td></td>
                <td></td>
                <td><button>SEARCH</button></td>
            </tr>
        </thead>
    </table>


    <table class="table, pull-right" style="border: solid; border-color: gray; width: 100%;">
        <thead>
            <tr style="border: solid; border-color: gray; border-width: 1px;">
                <th>
                    <a href="#" class="pull-left" id="" style="width: 25px; height:25px;">
                        <img src="~/Content/img/CloseRed.png" class="pull-left;" style="width: 25px;height: 25px;" />
                    </a> Artikelnummer
                </th>
                <th>Benämning</th>
                <th>Sortbegr</th>
                <th>Saldo</th>
                <th>Disp.</th>
                <th>Plats</th>
            </tr>
        </thead>


        <thead class="tablebgblue">
            <tr style="border: solid; border-color: gray; border-width: 1px;">
                <th>Artikelnummer</th>
                <th>Benämning</th>
                <th>Sortbegr</th>
                <th>Saldo</th>
                <th>Disp.</th>
                <th>Plats</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

</div>

<script src="~/scripts/jquery-1.9.1.min.js"></script>
<script src="~/Content/js/jsfile.js"></script>