<div class="pull-right" style="height:600px; border: solid; border-radius: 5px; border-width:1px;  width:100%">
    <table class="table, pull-right" style="border: solid; border-color: gray;  width:100%">
        <thead>
            <tr style="border: solid; border-color: gray; border-width: 1px;">
                <th style="width: 10%;">
                    <a href="#" class="pull-left" id="" style="width: 25px; height:25px;">
                        <img src="~/Content/img/CloseRed.png" class="pull-left;" style="width: 25px;height: 25px;" />
                    </a> Avvikelse
                </th>
                <th>Benämning</th>
            </tr>
        </thead>


        <thead class="tablebgblue">
            <tr style="border: solid; border-color: gray; border-width: 1px;">
                <th>Avvikelse</th>
                <th>Benämning</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>INT</td>
                <td>STRING</td>
            </tr>
        </tbody>
    </table>
</div>

<script src="~/scripts/jquery-1.9.1.min.js"></script>
<script src="~/Content/js/jsfile.js"></script>