<div class="pull-right" style="height:600px; border: solid; border-radius: 5px; border-width:1px; width: 100%;">
    <div class="center-block" style="height:275px; border: solid; border-radius: 5px; border-width:1px; width: 95%; margin-top:15px;">
        <p>Instruktioner:</p>
        <p>TEXT</p>
    </div>
    <div class="center-block" style="height:275px; border: solid; border-radius: 5px; border-width:1px; width: 95%; margin-top:15px;">
        <p>Skriv din kommentar nedan:</p>
        <textarea style="background-color: transparent; width: 100%; min-width: 100%;resize:none; height:245px; min-height:245px; border-radius: 5px;"></textarea>
    </div>
</div>

<script src="~/scripts/jquery-1.9.1.min.js"></script>
<script src="~/Content/js/jsfile.js"></script>